html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* RESET */

.container {
  max-width: 1085px;
  margin: 0 auto;
  /* padding: 0 8px; */
  /* border: 1px solid #ccc; */
}

img {
  max-width: 100%;
  height: auto;
}

*,
*::before,
*::after {
  Box-sizing: border-box;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  display: block;
}

/*my reset*/


body {
  font-family: 'Noto Sans TC', sans-serif;
  color: #221E1F;
}

@media (min-width:376px) {
  body{
    background: url(/img/banner.svg);
    background-repeat: no-repeat;
    background-position: right 0 ;
  }
}

.topBtn {
  position: fixed;
  right: 16px;
  top: 90%;
  width: 50px;
  display: none;
  z-index: 2;
}

.topBtnBig {
  position: fixed;
  right: 16px;
  top: 85%;
  width: 70px;
  z-index: 2;
}


@media (max-width:576px) {

  .topBtnBig{
    display: none;
  }

  .topBtn{
    display: block;
  }
}

nav {
  display: flex;
  justify-content: space-between;
  padding: 24px 10px;
  align-items: center;

}

.logo {
  display: inline-block;
  width: 30vw;
}

@media (min-width:768px) {
  .logo {
    width: 20vw;
  }

}

.btn {
  width: 128px;
  height: 40px;
  background: #FF5D50;
  color: white;
  font-size: 16px;
  padding: 10px 32px 8px 32px;
  border-radius: 22px;
}

.btn:hover{
  color: #fff;
  background: #221e1f;
}

@media (max-width:376px) {

  nav {
    border-bottom: 2px solid #FFD153;
  }
  
  .wrap-header {
  background-image: url(/img/banner_sm.svg);
  background-repeat: no-repeat;
  background-size: 375px;
  }

}

header {
  padding-left: 20px;
  padding-right: 20px;
}

header h1 {
  padding-top: 48px;
  padding-bottom: 16px;

}

header p {
  padding-top: 20px;
  padding-bottom: 360px;
}

.chose {
  padding-left: 10px;
  padding-right: 10px;
}

.chose h2 {
  padding-bottom: 24px;
}

.choseMenu {
  display: flex;
  overflow: auto;
  padding-bottom: 38px;
}

@media (min-width:576px) {
  .choseMenu {
    justify-content: center;
  }
  .choseMenu li{
    margin-right:5px;
    margin-left:5px;
  }
  
  .chose .choseMenu .btn {
    width: 120px;
  }

}


.choseMenu .btn {
  width: 90px;
  font-size: 16px;
  padding: 10px 0px 8px 0px;
  font-family: 'Comfortaa', cursive;
}



.choseMenu li {
  padding-right: 3px;
  padding-left: 3px;
}

.choseMenu .click {
  color: #56c4c5;
  background: #fff;
  border: 1px solid #56c4c5;
}

.choseMenu .btn span {
  font-family: 'Noto Sans TC', sans-serif;
}

.choseCardList{
  display: flex;
  justify-content: space-between;
}


@media (max-width:768px) {
  .choseCardList .choseCard{
    width: 100%;
  }

  .choseCardList{
    display: block;
  }

}

.choseCard {
  width: 49%;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.14);
  background: #fff;
  border-radius: 12px;
  padding: 24px 0;
  margin-bottom: 24px;

}

.choseCard h3 {
  padding-bottom: 16px;
  border-bottom: 2px solid #dddddd;
}

.choseCard p {
  padding-top: 24px;
  padding-bottom: 24px;
}

.pList {
  display: flex;
  justify-content: space-evenly;
  padding-bottom: 28px;
}


.price {
  width: 140px;
  background: #F5F5F5;
  border: 1px solid #F5F5F5;
  border-radius: 12px;
  padding-top: 16px;

}

.price p {
  font-family: 'Comfortaa', cursive;
  text-align: center;
}

.price span {
  font-size: 12px;
  font-family: 'Noto Sans TC', sans-serif;
}

.goodList {
  line-height: 2.5;
  padding-bottom: 24px;
}

.goodList img {
  padding-left: 10px;
  padding-right: 10px;
}

.plusBlock .btn {
  padding-top: 12px;
  padding-bottom: 12px;
  width: 136px;
  margin: auto;
}

.QA h2 {
  padding-bottom: 32px;
}

.QAmenu {
  width: 100%;
}

.QAitem {
  position: relative;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.14);
  background: #fff;
  border-radius: 12px;
  padding: 20px;
  margin-bottom: 16px;

}

.QAitem a {
  padding: 3px 0;
}

.QAitem>img {
  position: absolute;
  right: 16px;
  top: 20px;
}

.QAitem p {
  padding-top: 10px;
}





footer {
  margin-top: 60px;
  padding: 16px 0;
  background: #F5F5F5;
}












/* color | font */

/* 黃色色碼 #f5ca52 */

.text-orange {
  color: #ff5d50;
}

.text-blue {
  color: #56c4c5;
}

.text-darkGary {
  color: #221e1f;
}

.text-gary {
  color: #747474;
}

.text16 {
  font-size: 1em;
}

.text18 {
  font-size: 1.125em;
}

.text20 {
  font-size: 1.25em;
}

.text24 {
  font-size: 1.5em;
}

.text28 {
  font-size: 1.75em;
}

.text32 {
  font-size: 3em;
}

.text46 {
  font-size: 2.875em;
}

.text48 {
  font-size: 3em;
}

.text-bold {
  font-weight: bold;
}

.lh15 {
  line-height: 1.5;
}

.lh30 {
  line-height: 3;
}

.text-center {
  text-align: center;
}

.bg-blue {
  background: #56c4c5;
}